// Mixins for OpenFOIL

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 979px) and (min-width: 768px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 767px)  { @content; }
  }
}