/* Styles from the NYC global stylesheet relevant to the header and footer. */

/*  NYC - Agency Header
    -------------------
*/

.agency-header .upper-header-left {
  width: 25%; }


.agency-header .small-nyc-logo {
  height: 15px;
  width: 40px;
  margin: 0 10px 0 -1px; }


.agency-header .upper-header-black-title {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 0 10px;
  /* Tablet Portrait size to standard 960 (devices and browsers) */ }
  @media only screen and (max-width: 767px) {
    
    .agency-header .upper-header-black-title {
      display: none; } }


.agency-header .upper-header-padding {
  width: 50%; }


.agency-header .upper-header-right {
  position: absolute;
  right: 23px;
  padding-left: 4%;
  /* Tablet Portrait size to standard 960 (devices and browsers) */ }
  @media only screen and (max-width: 767px) {
    
    .agency-header .upper-header-right {
      display: none; } }


.agency-header .upper-header-search {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-left: 5px; }


.agency-header .upper-header-search a {
  color: #fff; }


.agency-header .upper-header-three-one-one {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 0 5px; }


.agency-header .upper-header-three-one-one a {
  color: #fff; }


.lt-ie8 header .logo {
  position: relative; }


.agency-header .upper-header-black {
  background: #000;
  height: 25px; }

 /*  NYC - Main Footer
  ------------------
*/
/* link color */
/* rounded corners */
/* box-shadow - see Programs & Initiatives hover state */

footer {
  background-color: #000;
  padding: 35px 0 30px 0;
  clear: both; }


footer .span3 {
  width: 220px;
  margin-top: 10px;
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */ }
  @media only screen and (max-width: 485px) {
    
    footer .span3 {
      float: left !important;
      margin-top: 20px;
      padding: 0 10px 0 10px; } }

@media only screen and (max-width: 767px) {
  
  footer .span3,
  footer .span9 {
    display: static;
    width: 220px !important; } }
@media only screen and (max-width: 479px) {
  
  footer .span3,
  footer .span9 {
    width: 100% !important; } }

/* footer search */

footer .span3:last-child {
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */ }
  @media only screen and (max-width: 485px) {
    
    footer .span3:last-child {
      float: left; } }
  @media only screen and (min-width: 486px) {
    
    footer .span3:last-child {
      position: absolute;
      right: 20px;
      margin-top: 8px; } }


footer .footer-links {
  width: 76%;
  margin-right: 0;
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  /* Tablet Portrait size to standard 960 (devices and browsers) */ }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    
    footer .footer-links {
      width: 50%; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    
    footer .footer-links {
      width: 67%; } }


footer .footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  float: left;
  margin-right: 2.12766%;
  padding: 5px 0;
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  /* Tablet Portrait size to standard 960 (devices and browsers) */ }
  @media only screen and (max-width: 479px) {
    
    footer .footer-links a {
      width: 100%;
      margin: 0 0 0 10px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    
    footer .footer-links a {
      width: 100%;
      margin: 0 0 0 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    
    footer .footer-links a {
      width: 45%; } }
  @media only screen and (min-width: 960px) {
    
    footer .footer-links a {
      width: 30%; } }


.ie7 footer .footer-links a {
  width: 28%; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  footer .footer-links a:nth-child(2n+0) {
    margin-right: 0; } }
/* Desktop */
@media only screen and (min-width: 960px) {
  
  footer .footer-links a:nth-child(3n+0) {
    margin-right: 0; } }

footer .footer-links a:hover {
  color: #999; }


footer .form-search {
  margin-top: 0;
  margin-bottom: 5px; }


footer .form-search .input-search {
  width: 79px;
  height: 20px;
  padding: 4px 6px;
  outline: none;
  font-size: 14px;
  border-radius: 4px 0 0 4px;
  float: left;
  border-left: 2px solid #727272;
  border-top: 2px solid #727272;
  border-right: none;
  border-bottom: 2px solid #727272;
  color: #fff;
  background-color: #616161; }


footer .form-search .input-search:-moz-placeholder {
  color: #ffffff !important; }


footer .form-search .input-search:-ms-input-placeholder {
  color: #ffffff !important; }


footer .form-search .input-search::-webkit-input-placeholder {
  color: #ffffff !important; }


footer form input:focus,
footer form input:active {
  background-color: #616161;
  color: #fff;
  border-color: none; }


footer .form-search .ico-search {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../images/sprite-ico-search.png") no-repeat #616161 left -8px;
  padding: 0;
  display: block;
  width: 24px;
  height: 32px;
  border-radius: 0 4px 4px 0;
  border-right: 2px solid #727272;
  border-top: 2px solid #727272;
  border-bottom: 2px solid #727272;
  border-left: none;
  cursor: pointer; }


.ie7 footer .form-search .ico-search {
  border: none; }


footer .logo-nyc {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 93px;
  height: 31px;
  display: block;
  background-image: url("../../images/nyc_white.png");
  background-size: 93px 31px;
  float: left;
  margin-right: 10px; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    
    footer .logo-nyc {
      background-image: url("../../images/nyc_white@x2.png");
      background-size: 93px 31px;
      background-repeat: no-repeat; } }


footer .copyright {
  color: #fff;
  font-size: 10px; }


footer .copyright a {
  color: #fff; }


footer .copyright p {
  margin: 0;
  line-height: 14px;
  float:left; }


.subscription-container {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%; }


.footer-bar h2 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #000;
  margin: 23px 0;
  padding: 0 !important; }
  
  .footer-bar h2 .agencies-count {
    font-weight: bold; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    .footer-bar h2 {
      text-align: left;
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 768px) and (max-width: 979px) {
    
    .footer-bar h2 {
      text-align: left;
      font-size: 16px;
      line-height: 22px; } }
  @media only screen and (max-width: 767px) {
    
    .footer-bar h2 {
      text-align: left;
      font-size: 16px;
      line-height: 22px; } }


.container {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative; }
  
  .container:after {
    content: "";
    display: table;
    clear: both; }


.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: ""; }


.container:after {
  clear: both; }