/* custom css for new_request.html and child templates */

/* all popovers fit size to content */
	.helpPopover {
		width: 200px !important;
	}

/* increase size of intro text */
	p.intro_text {
		font-size: 16px;
	}

/* tweaking the appearance of the frankenbox for dept dropdown */
	input.combobox.input-block-level {
		margin-right: -2em;
	}

.department_optional{
	font-size: 12px;
}

#not_public_record{
  /*border: 1px solid red;*/
}

p.lead {
	margin-bottom: 5px;
	margin-top: 30px;
}

div.spacer {
	margin-bottom: 10px;
}

button[type] {
	padding-left: 2em;
	padding-right: 2em;
}

p.example {
font-size: 17.5px;
font-weight: 300;
line-height: 1.25;
}

.popover {
	background-color: #dffbf5;
}

.popover-title {
	display: none;
}

.popover.top .arrow:after {
	border-top-color: #dffbf5;
}

.popover.right .arrow:after {
	border-right-color: #dffbf5;
}

.popover.bottom .arrow:after {
	border-bottom-color: #dffbf5;
}

.popover.left .arrow:after {
	border-left-color: #dffbf5;
}

.r_sidebar {
	margin-top: 4.25em;
	/*margin-right: 3em;*/
}

/* gives the create request button a bit of breathing room */
#requestButton {
	margin-bottom: 20%;
}

.missing_field {
	display: none;
}

.highlight {
	color: red;
}