<html>
    <body>
        <div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
            <div style="padding:20px;">
                <div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
                    <div style="clear:both;">
                        <span style="font-family: arial,helvetica,sans-serif;">
                            <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                A request was submitted to the {{ notification_content['department'].name }} through the OpenRecords Portal. Please see the request details below.
                                <p>
                                    Request Title: {{ notification_content['text']['request_summary'] }}
                                    <br/>
                                    Request Description: {{ notification_content['text']['request_text'] }}
                                    <br/>
                                    Contact Information:
                                    <br/>
                                    <div class="row-fluid hide" id="requester_info">
                                        <div class="span8">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Name:</strong>
                                                </div>
                                                <div class="span6">
                                                    <span class="label">{{ notification_content['contact_info']['alias'] or "Not Provided" }}</span>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Email:</strong>
                                                </div>
                                                <div class="span6">
                                                    {% if notification_content['contact_info']['request_email']  %}

                                                    <span class="label">
                                                        <a href="mailto:{{ notification_content['contact_info']['request_email'] or "Not Provided" }}">{{ notification_content['contact_info']['request_email'] }}</a>
                                                    </span>
                                                    {% else %}

                                                    <span class="label">Not provided</span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Phone Number:</strong>
                                                </div>
                                                <div class="span6">
                                                    {% if notification_content['contact_info']['request_phone']  %}

                                                    <span class="label">{{ notification_content['contact_info']['request_phone'] or "Not provided" }}</span>
                                                    {% else %}

                                                    <span class="label">Not provided</span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Fax Number:</strong>
                                                </div>
                                                <div class="span6">
                                                    {% if notification_content['contact_info']['request_fax']  %}

                                                    <span class="label">{{ notification_content['contact_info']['request_fax'] or "Not provided" }}</span>
                                                    {% else %}

                                                    <span class="label">Not provided</span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Street Address (line 1):</strong>
                                                </div>
                                                <div class="span6">
                                                    <span class="label">{{ notification_content['contact_info']['request_address_stree_one']  or "Not provided" }}</span>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Street Address (line 2):</strong>
                                                </div>
                                                <div class="span6">
                                                    <span class="label">{{ notification_content['contact_info']['request_address_street_two']  or "Not provided" }}</span>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's City:</strong>
                                                </div>
                                                <div class="span6">
                                                    <span class="label" style="align: left;">{{ notification_content['contact_info']['request_address_city']  or "Not provided" }}</span>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's State:</strong>
                                                </div>
                                                <div class="span6">
                                                    {% if not notification_content['contact_info']['request_address_street_one'] or not notification_content['contact_info']['request_address_street_two'] or not notification_content['contact_info']['request_address_zip'] %}

                                                    <span class="label">Not provided</span>
                                                    {% else %}

                                                    <span class="label">{{ notification_content['contact_info']['request_address_state'] }}</span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Requester's Zipcode:</strong>
                                                </div>
                                                <div class="span6">
                                                    <span class="label">{{ notification_content['contact_info']['request_address_zip'] or "Not provided" }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </br>
                                    If you have any questions, please contact the OpenRecords Team at
                                <a href="mailto:openrecords@records.nyc.gov">openrecords@records.nyc.gov</a>
                            </br>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</html>
