{% set status = req.solid_status() %}
<div class="request-status-well well well-small r_sidebar_banner {{ status }}">
    <h3 id="status-text">
        {% if status == 'closed' %}
            <i class="icon-archive"></i>
        {% endif %}
        {% if status == 'in_progress' %}
            In Progress
        {% else %}
            {{ status }}
        {% endif %}
    </h3>
</div>