{% set alias = "Not provided" %}
{% set phone = "Not provided" %}
{% set requester = req.requester() %}
{% if requester %}
    {% set user = requester.user %}
    {% set email = user.email %}
    {% set alias = user.alias %}
    {% set phone = user.phone %}
    {% set fax = user.fax %}
    {% set address1 = user.address1 %}
    {% set address2 = user.address2 %}
    {% set city = user.city %}
    {% set state = user.state %}
    {% set zipcode = user.zipcode %}
{% endif %}

{#Small code change here to make the whole "Show Requester Conctact Information" button clickable instead of just the text.#}
<div class="btn" id="requesterInfoButton">Show Requester Contact Information<span class="caret"></span></div>
{#    <div class="text-center" id="requesterInfoButton">Show Requester Contact Information<span class="caret"></span></div>#}
{#</div>#}
<div class="row-fluid hide" id="requester_info">
    <div class="span8">
        <div class="row-fluid">
            <div class="span6">Requester's Name:</div>
            <div class="span6">
                <span class="label">{{ alias or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Email:</div>
            <div class="span6">
                {% if email %}
                <span class="label"><a href="mailto:{{ email }}">{{ email }}</a></span>
                {% else %}
                <span class="label">Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Phone Number:</div>
            <div class="span6">
                {% if phone %}
                    <span class="label">{{ phone or "Not provided" }}</span>
                {% else %}
                    <span class="label">Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Fax Number:</div>
            <div class="span6">
                {% if fax %}
                    <span class="label">{{ fax or "Not provided" }}</span>
                {% else %}
                    <span class="label">Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Street Address (line 1):</div>
            <div class="span6">
                <span class="label">{{ address1 or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Street Address (line 2):</div>
            <div class="span6">
                <span class="label">{{ address2 or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's City:</div>
            <div class="span6">
                <span class="label" style="align: left;">{{ city or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's State:</div>
            <div class="span6">
                {% if not address1 or not city or not zipcode %}
                    <span class="label">Not provided</span>
                {% else %}
                    <span class="label">{{ state }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Zipcode:</div>
            <div class="span6">
                <span class="label">{{ zipcode or "Not provided" }}</span>
            </div>
        </div>
    </div>
</div>