{% if current_user.is_authenticated %}
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-pills" role="tablist">
            <li><a href="#add_record" role="tab" data-toggle="tab">
                <small>Add Record</small>
            </a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="tab-content">
        <div class="tab-pane" id="add_record">
            <form name="input_doc" style="margin-top: 2em;" id="submitRecord"
                  method="post"
                  action="/add_a_record_and_close" autocomplete="on"
                  enctype="multipart/form-data">
                {% if "missing_record_description" in errors %}
                    <div class="alert alert-danger" id="missing_record_description">
                        {{ errors['missing_record_description'] }}</div>
                {% endif %}
                {% if "missing_record_access" in errors %}
                    <div class="alert alert-danger" id="missing_record_access">{{ errors['missing_record_access'] }}</div>
                {% endif %}
                <p>Please provide a short explanation of the record along with at least a file upload, a link to the record, or instructions on how to access the record offline.</p>
                <input type="hidden" name="request_id" value="{{ req.id }}"/>
                <input type="hidden" name="audience" value="helper"/>
                <input type="hidden" name="record_privacy" value="True"/>
                <fieldset>
                    <div class="row-fluid">
                        <!-- name of record -->
                        <div class="control-group">
                            <label class="control-label" for="recordSummary">Name
                                of record</label>

                            {% if form %}
                            <div class="controls">
                                        <textarea class="input-xxlarge"
                                                  name="record_description"
                                                  type="text"
                                                  id="recordSummary"
                                                  placeholder="Add a short explanation of the record"
                                                  required/>{{ form['record_description'] }}</textarea>
                            </div>
                            {% else %}
                            <div class="controls">
                                        <textarea class="input-xxlarge"
                                                  name="record_description"
                                                  type="text"
                                                  id="recordSummary"
                                                  placeholder="Add a short explanation of the record"
                                                  required/></textarea>
                            </div>
                            {% endif %}
                        </div>
                        <!-- upload a record -->
                        <div class="control-group">
                            <label class="control-label">Upload a record <span
                                    id="recordTooltip" rel="tooltip"
                                    data-toggle="tooltip"
                                    data-placement="right" title=""
                                    data-original-title="{{'Upload a document'| explain_action}}">
                                        <small><i class="icon-info-sign"></i>
                                        </small>
                                    </span></label>

                            <div class="row-fluid">
                                <div class="controls">
                                    <div class="fileinput fileinput-new"
                                         data-provides="fileinput">
                                                <span class="btn btn-default btn-file">
                                                    <span class="fileinput-new">Select file</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file"
                                                           name="record">
                                                </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#"
                                           class="close fileinput-exists"
                                           data-dismiss="fileinput"
                                           style="float: none">&times;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- link to a record -->
                        <div class="control-group">
                            <label class="control-label">Or provide a link to a
                                record <span rel="tooltip"
                                             data-toggle="tooltip"
                                             data-placement="right"
                                             title=""
                                             data-original-title="{{'Add a link' |
                                        explain_action}}">
                                        <small><i class="icon-info-sign"></i></small>
                                    </span></label>
                            {% if form %}
                            <div class="row-fluid">
                                <div class="controls">
                                    <input type="text" name="link_url"
                                           id="inputUrl" class="input-xxlarge" value={{ form['link_url'] }}/>
                                    <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                                </div>
                            </div>
                            {% else %}
                            <div class="row-fluid">
                                <div class="controls">
                                    <input type="text" name="link_url"
                                           id="inputUrl" class="input-xxlarge"/>
                                    <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- offline record -->
                        <div class="control-group button-margin">
                        {% if form %}
                            <label class="control-label">Or indicate how the
                                record can be accessed offline <span
                                        id="offlinedocTooltip" rel="tooltip"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title=""
                                        data-original-title="{{'Describe hard copies' | explain_action}}">
                                        <small><i class="icon-info-sign"></i>
                                        </small>
                                    </span></label>

                            <div class="row-fluid">
                                <div class="controls">
                                            <textarea class="input-xxlarge"
                                                      id="offlineDoc_textarea"
                                                      name="record_access"
                                                      placeholder="How can the requester get this record?  Ex. 'Sent via mail on a CD', 'Print out awaiting requester at City Clerk desk'">{{ form['record_access'] }}</textarea>
                                </div>
                            </div>
                        {% else %}
                            <label class="control-label">Or indicate how the
                                record can be accessed offline <span
                                        id="offlinedocTooltip" rel="tooltip"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title=""
                                        data-original-title="{{'Describe hard copies' | explain_action}}">
                                        <small><i class="icon-info-sign"></i>
                                        </small>
                                    </span></label>

                            <div class="row-fluid">
                                <div class="controls">
                                            <textarea class="input-xxlarge"
                                                      id="offlineDoc_textarea"
                                                      name="record_access"
                                                      placeholder="How can the requester get this record?  Ex. 'Sent via mail on a CD', 'Print out awaiting requester at City Clerk desk'"></textarea>
                                </div>
                            </div>
                        {% endif %}
                        </div>

                        <!-- submission -->
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit"
                                        class="btn btn-default btn-block"
                                        data-toggle="modal"
                                        data-target="#confirm-submit"
                                        id="addRecordButton">Add a Record
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endif %}
