{% for owner in req.owners %}
    {% if owner.active %}
        {% set participant = (owner | display_staff_participant(req)) %}
        {% if participant %}
            {% if current_user.is_authenticated %}
                <div data-placement="left" class="unassignPopover">
                    <div class="popover-container">
                        {{ participant }}<span class="pull-right"><font color='white'> remove</font></span>
                    </div>
                    <div id="unassignPopover-head" class="hide">Remove helper: <a class="close" href="#">&times;</a>
                    </div>
                    <div id="unassignPopover-content" class="hide">
                        <form id="rerouteForm" class="form-inline" method="post" action="/update_a_owner">
                            <!-- my form -->
                            <div class="control-group">
                                <div class="controls">
                                    <input type="hidden" name="request_id" value="{{ req.id }}"/>
                                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                                    <input type="hidden" name="owner_id" value="{{ owner.id }}"/>
                                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                                    <button id="unassignButton" class="btn" type="submit"><i class="icon-envelope"> </i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div>
                    {{ participant }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}


