<div class="timestampPopover-content">
    <div class="row-fluid">
        {{ response.date() | date }}
    </div>
    <div class="row-fluid">
        {{ response.date() | timestamp }}
    </div>
</div>
