{% extends "base.html" %}
{% set active_page='view_requests' %}
{% block title %}
    {{ title }} &#45; OpenRecords
{% endblock title %}
{% block custom_css_links %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests_noresults.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
    <style type=text/css>
        .clickable-row {
            cursor: pointer;
        }

    </style>
{% endblock custom_css_links %}
{% block custom_script_links %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/date_picker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_requests.js') }}"></script>
{% endblock custom_script_links %}
{% block container %}

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div id="exploreTitle" class="span8">
                    <h2>Explore OpenRecords Requests</h2>

                    <p class="intro_text">NYC Open Gov makes every public records request available to the public,
                        including messages or documents uploaded by agency staff. By searching the requests, you may
                        find the information you are interested in, which will save time for you and for
                        the {{ config['AGENCY_NAME'] }}</p>
                </div>

                <div class="span4">
                    <a href="/new" class="btn btn-primary btn-large pull-right">Request new record</a>
                </div>
            </div>

{#            Added a button to toggle filter on and earth (mobile only)#}
{#            <button id="toggle" onclick="hideFilter()">Hide</button>#}

            <form id="all_requests_form" name="all_requests" action="/requests" method="GET">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <div class="row-fluid" style="padding-bottom: 5%;">
                    <div class="span3">
                        <div class="well well-small" id="mobile-filter" style="padding-bottom: 6em;">

                            <h5>Search Request Title</h5>
                            <div>
                                <input class="span12" name="search_term" type="search" value="{{ search_term or '' }}"
                                       placeholder="I'd like to find..." style="height:100%;">
                            </div>
                            <div class="row-fluid">
                                <!-- <h4 class="underline">ADVANCED FILTER</h4> -->
                                {% if current_user.is_authenticated %}
                                    <div class="span6">
                                        <h5>My requests</h5>
                                        <div class="indent">
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="mine_as_poc" {% if mine_as_poc %}
                                                       checked {% endif %} />
                                                <em>&nbsp as Point of Contact</em>
                                                <br><br>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="mine_as_helper" {% if mine_as_helper %}
                                                       checked {% endif %} />
                                                <em>&nbsp as Helper</em>
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="span6">
                                    <h5>Status</h5>

                                    <div class="indent">
                                        <label class="checkbox">
                                            <input type="checkbox" ID="checkbox" name="is_open" {% if is_open %}checked {% endif %}/>
                                            <em class="open_style">Open</em>
                                        </label>
                                        {% if current_user.is_authenticated %}
                                            <!--<label class="checkbox">-->
                                                <!--<input type="checkbox" id="checkbox" name="in_progress" {% if in_progress %} {% endif %} />-->
                                                <!--<em class="in_progress_style">In Progress</em>-->
                                            <!--</label>-->
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox"  name="due_soon" {% if due_soon %}
                                                       checked {% endif %} />
                                                <em class="duesoon_style">Due Soon</em>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="overdue" {% if overdue %}
                                                       checked {% endif %} />
                                                <em class="overdue_style">Overdue</em>
                                            </label>
                                        {% endif %}
                                        <label class="checkbox">
                                            <input type="checkbox" ID="checkbox"  name="is_closed" {% if is_closed %}
                                                   checked {% endif %} />
                                            <em class="closed_style">Closed</em>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <h5>Date received</h5>

                            <div class="control-group">
                                <label>From: </label>
                                <input type="date"
                                       name="min_date_received"
                                       value="{{ min_date_received }}"
                                       class="span12">
                                <label>To:</label>
                                <input type="date"
                                       name="max_date_received"
                                       value="{{ max_date_received }}"
                                       class="span12">
                            </div>
                            {% if current_user.is_authenticated %}
                                <h5>Due date</h5>
                                <div class="control-group">
                                    <label>From: </label>
                                    <input type="date"
                                           name="min_due_date"
                                           value="{{ min_due_date }}"
                                           class="span12">
                                    <label>To:</label>
                                    <input type="date"
                                           name="max_due_date"
                                           value="{{ max_due_date }}"
                                           class="span12">
                                </div>
                                <h5>Requester name</h5>
                                <div>
                                    <input class="span12" name="requester_name" type="search" placeholder="Enter name"
                                           value="{{ requester_name or '' }}" style="height:100%;">
                                </div>
                            {% endif %}
                            {% if current_user.is_anonymous or (current_user.is_authenticated and current_user.show_department_filters()) %}
                                <h5>Agency Name</h5>
                                <div class="control-group">
                                    <select name="departments_selected" class="selectpicker span12">
                                    <option>All Agencies</option>
                                        {% for department in departments %}
                                            {% if departments_selected and department.name in departments_selected %}
                                                <option selected>{{ department.name }}</option>
                                            {% else %}
                                                <option>{{ department.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <button class="btn btn-primary span12" style="margin-left: 0px;" type="submit"
                                    value="Submit">Find
                            </button>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="row-fluid">
                                <p class="text-center">
                                    <a href="/export"> <i class="icon-download"></i> Export data</a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="span9">
                        <table width="100%" id="requests" >
                            <thead id="headings">
                            <tr>
                                <th class="status"></th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('id');">#
                                    </button>
                                </th>
                                <th class="hide-mobile">
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('date_received');">Received
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('text');">Request
                                    </button>
                                </th>
                                <th>Assigned Agency</th>
                                <th class="hide-mobile">Point of Contact</th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('due_date');">Due
                                    </button>
                                </th>
                                {% if current_user.is_authenticated %}
                                    <th class="hide-mobile">Requester</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in requests %}
                                {% if current_user.is_authenticated %}
                                    <tr class="clickable-row"
                                        onclick="window.location='/city/request/{{ request.id }}'">
                                        {% else %}
                                    <tr class="clickable-row" onclick="window.location='/request/{{ request.id }}'">
                                {% endif %}
                            <td class="status {{ request.solid_status }}">
                                {% if request.solid_status == "closed" %}
                                    <i class="icon-archive icon-light"></i>
                                {% endif %}
                            </td>
                            <td>{{ request.id }}</td>
                            <td class="hide-mobile">{{ request.date_received }}</td>
                            <td style="word-break: break-all">
                                {% if current_user.is_authenticated %}
                                    <a href="/city/request/{{ request.id }}">
                                    {% set text = request.summary %}
                                    {{ text }}
                                {% else %}
                                    <a href="/request/{{ request.id }}">
                                    {% if request.titlePrivate %}
                                    {% set text = "Private" %}
                                    {{ text }}
                                    {% else %}
                                    {% set text = request.summary %}
                                    {{ text }}
                                    {% endif %}
                                {% endif %}

                                {% if request.solid_status == "due soon" %}
                                    <span style="background-color: #FB991B" class="label label-warning">due soon</span>
                                {% elif request.solid_status == "overdue" %}
                                    <span style="background-color: #CA1A1A" class="label label-important">overdue</span>
                                {% endif %}
                                </a>
                            </td>
                            <td>{{ request.department }}</td>
                            <td class="hide-mobile">{{ request.contact_name }}</td>
                            <td >{{ request.due_date }}</td>
                            {% if current_user.is_authenticated %}
                                <td class="hide-mobile">{{ request.requester }}</td>
                            {% else %}
                                <td class="hide-mobile">&nbsp;</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pull-left pagination">
                            <ul>
                                {% if page_number > 1 %}
                                    <button class="btn btn-small" type="submit" onclick="return pageNumber(-1);">
                                        Previous
                                    </button>
                                {% endif %}
                                <li>Showing {{ start_index }} to {{ end_index }} of {{ num_results }} entries</li>
                                {% if more_results %}
                                    <button class="btn btn-small" type="submit" onclick="return pageNumber(1);">Next
                                    </button>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script type="text/javascript">
        var sort_direction = '{{sort_direction|e|safe}}';
        var sort_column = '{{sort_column|safe }}';
        var page_number = {{page_number|safe}};
        function insertInput(inputValue) {
            if (inputValue == sort_column) {
                if (sort_direction == 'asc') {
                    sort_direction = 'desc';
                }
                else {
                    sort_direction = 'asc';
                }
                hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'sort_direction';
                hiddenInput.value = sort_direction;
                document.getElementById('all_requests_form').appendChild(hiddenInput);
            }
            hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'sort_column';
            hiddenInput.value = inputValue;
            document.getElementById('all_requests_form').appendChild(hiddenInput);
            return true;
        }
        function pageNumber(numChange) {
            var new_num = page_number + numChange;
            hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'page_number';
            hiddenInput.value = new_num;
            document.getElementById('all_requests_form').appendChild(hiddenInput);
            return true;
        }

{#        Added javascript to hide and show filter for mobile only#}
        var hidden = false;
        function hideFilter(){
            hidden = !hidden;
            if(hidden) {
                document.getElementById('mobile-filter').style.display = 'none';
                document.getElementById('toggle').innerHTML = "Show";
            } else {
                document.getElementById('mobile-filter').style.display = 'block';
                document.getElementById('toggle').innerHTML = "Hide";
            }

        }
    </script>
{% endblock container %}
