<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

{% extends "base.html" %}
{% block title %}Request{% endblock title %}

{% block custom_css_links %}
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/manage_request_city.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/_response_widget.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/case.css') }}">
{% endblock custom_css_links %}

{% if req %}
{% if req.privacy==True %}
{% elif req.privacy==False %}
{% endif %}
{% endif %}

{% block container %}
<!-- main content -->
<div class="row-fluid">
    <div class="span12">
        {% block banner %}{{ super() }}{% endblock banner %}
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        {% block well %}
        <div class="well">
            {% block request %}
            <div id="request-container">
                <!-- Request Details -->
                <div class="row-fluid">
                    <h3 class="control-widget">
                        <span class="muted">
                           {{req.id}}
                        </span>
                        {% if req %}
                        {% if current_user.is_anonymous or audience == 'public' %}
                        {% if not req.titlePrivate %}
                        <p class="lead" style="margin-bottom: 0rem;"
                           truncateable="250"> Title: {{ req.summary | e | new_lines }}
                        </p>
                        {% else %}
                        <p class="lead" style="margin-bottom: 0rem;" truncateable="250">

                        </p>
                        {# If the request title is set to private then do not display the title#}
                        {% endif %}
                        {% if not req.descriptionPrivate %}
                        <p class="lead" style="margin-bottom: 0rem;"
                           truncateable="250"> Request: {{ req.text | e | new_lines }}
                        </p>
                        {% else %}
                        <p class="lead" style="margin-bottom: 0rem;" truncateable="250">
                        </p>
                        {% endif %}
                        {% else %}
                        <p class="lead" style="margin-bottom: 0rem;"
                           truncateable="250"> Title: {{ req.summary | e | new_lines }}
                        </p>
                        <p class="lead" style="margin-bottom: 0rem;"
                           truncateable="250"> Request: {{ req.text | e | new_lines }}
                        </p>
                        {% endif %}
                        {% endif %}
                    </h3>
                    {% block clarify_request %}
                    <!-- ask a question -->
                    <form name="ask_question" id="question" class="form-inline" style="margin: 10px 0px 15px 0px;"
                          method="post" action="/add_a_qa" autocomplete="on">
                        <input type="hidden" name="request_id" value="{{ req.id }}"/>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <fieldset>
                            {% if email %}
                            <label>Ask a question <span rel="tooltip" data-toggle="tooltip" data-placement="right"
                                                        title="" data-original-title="{{" Ask a question" |
                                explain_action }}">
                                <small><i class="icon-info-sign"></i></small>
                                </span></label>
                            <textarea id="questionTextarea" name="question_text" class="input-xlarge"
                                      placeholder="Ask the requester a question" required/></textarea>
                            <button id="askQuestion" class="btn btn-primary" data-toggle="modal"
                                    data-target="#confirm-submit" type="submit">Ask
                            </button>
                            {% endif %}
                        </fieldset>
                    </form>

                    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Confirmation
                                </div>
                                <div class="modal-body">
                                    <div id="modalquestionDiv">Are you sure you want to make the following question
                                        public and send an email to the requester?
                                    </div>
                                    <table id="modalQuestionTable" class="table">
                                        <tr>
                                            <th>Question</th>
                                            <td id="question_text"></td>
                                            <input type="hidden" id="form_id" value=""/>
                                        </tr>
                                    </table>
                                    <table id="modalAdditionalInfoTable" class="table">
                                        <tr>
                                            <th>Additional Information</th>
                                            <td><textarea id="additional_note" name="additional_note"
                                                          class="input-xlarge"
                                                          placeholder="Additional Information"/></textarea></td>
                                        </tr>
                                    </table>
                                    <br/><br/>
                                    <table id="modalAdditionalInfoTableClose" class="table" style="display:none;">
                                        <p><b>If you are denying this request please explain why.</b></p>
                                        <tr>
                                            <th>Additional Information for Closing</th>
                                            <td><textarea id="additional_note" name="additional_note"
                                                          class="input-xlarge"
                                                          placeholder="Additional Information"/></textarea></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a href="#" id="submit" class="btn btn-success success">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add a public note form -->
                    {% if not current_user.is_authenticated or audience == 'public' %}
                    <!--<form name="note" class="form-inline" style="margin: 10px 0px 15px 0px;" id="note" method="post"-->
                          <!--action="/public_add_a_note">-->
                        <!--<input type="hidden" name="request_id" value="{{ req.id }}"/>-->
                        <!--<fieldset>-->
                            <!--<legend>Add a note</legend>-->
                            <!--<div class="row-fluid">-->
                                <!--<div class="control-group" align="left">-->
                                    <!--<label class="control-label">Note <span rel="tooltip" data-toggle="tooltip"-->
                                                                            <!--data-placement="right" title=""-->
                                                                            <!--data-original-title="{{'Add a note'| explain_action }}">-->
                                        <!--<small><i class="icon-info-sign"></i></small>-->
                                        <!--</span></label>-->

                                    <!--<div class="controls">-->
                                        <!--<textarea type="text" class="input-xxlarge" id="noteTextarea" name="note_text"-->
                                                  <!--placeholder="Notes visible to all public users."-->
                                                  <!--required/"></textarea>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="control-group">-->
                                    <!--<div class="controls">-->
                                        <!--<button type="submit" class="btn btn-primary" data-toggle="modal"-->
                                                <!--data-target="#confirm-submit" id="addPublicNoteButton">Add note-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <!--<input type="hidden" name="note_privacy" value="1"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                    <!--</form>-->
                    <!--<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"-->
                         <!--aria-labelledby="myModalLabel" aria-hidden="true">-->
                        <!--<div class="modal-dialog">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--Confirmation-->
                                <!--</div>-->
                                <!--<div class="modal-body">-->
                                    <!--<div id="modalquestionDiv">Are you sure you want to make the following question-->
                                        <!--public?-->
                                    <!--</div>-->
                                    <!--<table id="modalQuestionTable" class="table">-->
                                        <!--<tr>-->
                                            <!--<th>Question</th>-->
                                            <!--<td id="question_text"></td>-->
                                            <!--<input type="hidden" id="form_id" value=""/>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                    <!--<a href="#" id="submit" class="btn btn-success success">Submit</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    {% endif %}

                    {% endblock clarify_request %}
                    {# Form for changing field to public or private#}
                    {% if current_user.is_authenticated and audience == 'city' %}
                    <form class="form-horizontal" method="post" action="/changeprivacy">
                        <input type="hidden" name="request_id" value="{{ req.id }}"/>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input type="hidden" name="fieldtype" value="title"/>
                        <fieldset>
                            <!-- Multiple Radios (inline) -->
                            <div class="control-group">
                                <label class="control-label" style="width:7rem; text-align:left;">Title Privacy:</label>

                                <div class="controls" style="margin-left: 3rem">

                                    {# Set the private checkbox to be filled out if the request is private#}
                                    {% if req.titlePrivate %}
                                    <label class="radio inline" for="privacy setting-0">
                                        <input type="radio" name="privacy setting" id="privacy setting-0" value="False"
                                               type="submit" onclick="action=this.form.submit();">
                                        {# Value set to False means public#}
                                        Public
                                    </label>
                                    <label class="radio inline" for="privacy setting-1">
                                        <input type="radio" name="privacy setting" id="privacy setting-1" value="True"
                                               type="submit" checked onclick="action=this.form.submit();">
                                        {# Value set to True means private#}
                                        Private
                                    </label>
                                    {# Set the public checkbox to be filled out if the request is public#}
                                    {% elif req.titlePrivate==False %}
                                    <label class="radio inline" for="privacy setting-0">
                                        <input type="radio" name="privacy setting" id="privacy setting-0" value="False"
                                               type="submit" checked onclick="action=this.form.submit();">
                                        {# Value set to False means public#}
                                        Public
                                    </label>
                                    <label class="radio inline" for="privacy setting-1">
                                        <input type="radio" name="privacy setting" id="privacy setting-1" value="True"
                                               type="submit" onclick="action=this.form.submit();">
                                        {# Value set to True means private#}
                                        Private
                                    </label>
                                    {% endif %}

                                </div>
                            </div>
                        </fieldset>
                    </form>
                    {% endif %}
                    {% if current_user.is_authenticated and audience == 'city' %}
                    <form class="form-horizontal" method="post" action="/changeprivacy">
                        <input type="hidden" name="request_id" value="{{ req.id }}"/>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <input type="hidden" name="fieldtype" value="description"/>
                        <fieldset>
                            <!-- Multiple Radios (inline) -->
                            <div class="control-group">
                                <label class="control-label" for="privacy setting" style="width:7rem; text-align:left;">Description
                                    Privacy:</label>

                                <div class="controls" style="margin-left: 3rem">
                                    {% if req.descriptionPrivate==True %}
                                    <label class="radio inline" for="privacy setting-public">
                                        <input type="radio" name="privacy setting" id="privacy setting-public"
                                               value="False" type="submit" onclick="action=this.form.submit();">
                                        {# Value set to False means public#}
                                        Public
                                    </label>
                                    <label class="radio inline" for="privacy setting-private">
                                        <input type="radio" name="privacy setting" id="privacy setting-private"
                                               value="True" type="submit" checked onclick="action=this.form.submit();">
                                        {# Value set to True means private#}
                                        Private
                                    </label>
                                    {% else %}
                                    <label class="radio inline" for="privacy setting-public">
                                        <input type="radio" name="privacy setting" id="privacy setting-public"
                                               value="False" type="submit" checked onclick="action=this.form.submit();">
                                        {# Value set to False means public#}
                                        Public
                                    </label>
                                    <label class="radio inline" for="privacy setting-private">
                                        <input type="radio" name="privacy setting" id="privacy setting-private"
                                               value="True" type="submit" onclick="action=this.form.submit();">
                                        {# Value set to True means private#}
                                        Private
                                    </label>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    {% endif %}
                </div>
                <!--<div>-->
                    <!--&lt;!&ndash; shows any existing Q&A or public notes &ndash;&gt;-->
                    <!--{% set request_data = ( req | get_request_data_chronologically ) %}-->

                    <!--{% for response in request_data %}-->
                    <!--{% set icon = response.get_icon() %}-->
                    <!--<div class="row-fluid response">-->
                        <!--<div class="span1 text-left">-->
                            <!--<i class="{{ icon }}"></i>-->
                        <!--</div>-->
                        <!--<div class="span9">-->
                            <!--<p truncateable="175">-->
                                <!--{{ response.display_text() | safe }}-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="span2 text-right request-date">-->
                            <!--<div class="timestampPopoverContainer">-->
                                <!--<div class="row-fluid">-->
                                        <!--<span class="timestampPopover" onmouseover="">-->
                                            <!--{{ response.date() | date_granular }}-->
                                        <!--</span>-->

                                    <!--<div class="hide">-->
                                        <!--{% include '_timestamp.html' %}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                    <!--{% if request_data | length > 1 %}-->
                    <!--&lt;!&ndash; SHOW/HIDE button; js is in case.js &ndash;&gt;-->
                    <!--<div class="case-show-all show">-->
                        <!--<i class="icon-chevron-down"></i> See all <i class="icon-chevron-down"></i>-->
                    <!--</div>-->
                    <!--{% endif %}-->
                <!--</div>-->
            </div>
            {% endblock request %}
        </div>
        {% endblock well %}
        {% block requester_info %}{% endblock requester_info %}
        {% block responses_container %}
        {% set responses = ( req | get_responses_chronologically ) %}

        <div id="responses-container" class="row-fluid">
            {% block response_actions_lessjs %}

            {% if audience == 'city' %}
            {% include '_response_actions.html' %}
            {% elif audience == 'helper' %}
            {% include '_response_actions_helper.html' %}
            {% endif %}
            {% endblock response_actions_lessjs %}
            {% if responses %}
            {% set responses = ( req | get_responses_chronologically ) %}
            <h3 class="control-widget">Responses</h3>
            {% for response in responses %}
            {% set uid = response.uid() %}
            {% set staff = ("User" | get_obj(uid)) %}
            {% set icon = response.get_icon() %}
            {% if response.type == 'document' or response.type == 'note' or response.type == 'extension' or audience != 'public' or (audience == 'helper') or not(response.response.privacy)%}
            <div class="row-fluid response-wrapper">
                <div class="span1 text-left">
                    <i class="{{ icon }}"></i>
                </div>
                <div class="span9">
                    <p class="expandable" truncateable="200">
                        {{ response.display_text() | safe }} - <a href="mailto:{{staff.email}}">{{ staff.alias or staff.email }}</a>
                    </p>
                </div>
                <div class="span2 text-right response-date">
                    <div class="timestampPopoverContainer">
                        <div class="row-fluid">
                                <span class="timestampPopover" onmouseover="">
                                    {{ response.date() | date_granular }}
                                </span>

                            <div class="hide">
                                {% include '_timestamp.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            {% if current_user.is_authenticated and audience == 'city' %}
            <h3 class="control-widget">Response</h3>

            <p><em>No responses have been uploaded yet</em></p>
            {% endif %}
            {% endif %}
        </div>
        {% endblock responses_container %}
    </div>
    <div id="participant-container" class="span3">
        {% block sidebar %}
        {% include '_manage_request_sidebar.html' %}
        {% block subscribe %}
        {% include '_subscribe_widget.html' %}
        {% endblock subscribe %}
        {% endblock sidebar %}
    </div>
</div>


<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/social_media.css') }}">


{% endblock container %}


{% block custom_script_links %}
<!-- Listed in case instead of manage_request_city for truncation!!! -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/manage_request_city.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/case.js') }}"></script>

<!-- For response_widget partial -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/_response_widget.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.ellipsis.js') }}"></script>


{% endblock custom_script_links %}


