<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}OpenRecords - Request {{ req.id }}{% endblock %}
{% block custom_css_links %}
    <!-- used for the extension and close request multi-select boxes in city view -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/manage_request_city.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/case.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
{% endblock custom_css_links %}

{% block requester_info %}
  <div>
    {% set alias = "Not provided" %}
    {% set phone = "Not provided" %}
    {% set requester = req.requester() %}
    {% if requester %}
       {% set user = requester.user %}
       {% set email = user.email %}
       {% set alias = user.alias %}
       {% set phone = user.phone %}
       {% set address1 = user.address1 %}
       {% set address2 = user.address2 %}
       {% set city = user.city %}
       {% set state = user.state %}
       {% set zipcode = user.zipcode %}
    {% endif %}
    {% if not email %}
      <span id="no_email">
        <strong><i class="icon icon-exclamation-sign"></i> Requester's e-mail has not been provided.</strong>
      </span>
    <small>
    {% endif %}
      <br>
      <span>
        Requester's Name: <span class="label">{{ alias or "Not provided" }}</span></span>
      </span>
      <br>
      <span>
        Requester's Phone Number: <span class="label">{{ phone or "Not provided" }}</span>
      </span>
      <br>
      <span>
        Requester's Street Address: <span class="label">{{ address1 or "Not provided" }}</span>
      </span>
      <br>
      <span>
        Requester's City: <span class="label">{{ city or "Not provided" }}</span>
      </span>
      <br>
      <span>
        Requester's State: <span class="label">{{ state or "Not provided" }}</span>
      </span>
      <br>
      <span>
        Requester's Zipcode: <span class="label">{{ zipcode or "Not provided" }}</span>
      </span>
    </small>
  </div>
{% endblock requester_info %}

{% block proxyrequester_info %}
  {{ super() }}
{% endblock proxyrequester_info %}

{% block response_actions %}
  {% include '_response_widget_helper.html' %}
{% endblock response_actions %}

{% block sidebar %}

  {% block status %}
    {% set status = req.solid_status() %}
    {% include '_manage_requests_status.html' %}
  {% endblock status %}

  <div class="b_sidebar">
    <div class="row-fluid participantRow">
        <h4 class="case_participantRow">Point of Contact</h4>
        {% include '_contact_popover.html' %}
    </div>
    <div class="row-fluid participantRow">
        <h4 class="case_participantRow">Helpers</h4>
        {% include '_staff_participants.html' %}
    </div>
    <div class="row-fluid">
      <div class="participantRow-history">
        {% include '_history.html' %}
      </div>
    </div>
  </div>
{% endblock sidebar %}

{% block request_dates %}
  {{super()}}
  <div class="text-center">Due: <span class="label">{{ req.due_date | date }}</span></div>
{% endblock request_dates %}

{% block follow %}{% endblock follow %}

{% block custom_script_links %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/case.js') }}"></script>
{% endblock custom_script_links %}
