<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}OpenRecords - Request {{ req.id }}{% endblock %}
{% block custom_css_links %}
    <!-- used for the extension and close request multi-select boxes in city view -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/manage_request_city.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/case.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
{% endblock custom_css_links %}

{% block requester_info %}
    <div>
        {% set alias = "Not provided" %}
        {% set phone = "Not provided" %}
        {% set requester = req.requester() %}
        {% if requester %}
            {% set user = requester.user %}
            {% set email = user.email %}
            {% set alias = user.alias %}
            {% set phone = user.phone %}
            {% set address1 = user.address1 %}
            {% set address2 = user.address2 %}
            {% set city = user.city %}
            {% set state = user.state %}
            {% set zipcode = user.zipcode %}
        {% endif %}
        <div class="row-fluid">
            <div class="span6">Requester's Name:</div>
            <div class="span6">
                <span class="label">{{ alias or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Phone Number:</div>
            <div class="span6">
                <span class="label">{{ phone or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Street Address:</div>
            <div class="span6">
                <span class="label">{{ address1 or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's City:</div>
            <div class="span6">
                <span class="label" style="align: left;">{{ city or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's State:</div>
            <div class="span6">
                <span class="label">{{ state or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Zipcode:</div>
            <div class="span6">
                <span class="label">{{ zipcode or "Not provided" }}</span>
            </div>
        </div>
    </div>
{% endblock requester_info %}

{% block proxyrequester_info %}
    {{ super() }}
{% endblock proxyrequester_info %}

{% block clarify_request %}
    <!-- ask a question -->
    {% include '_ask_question.html' %}
{% endblock clarify_request %}

{% block response_actions %}
    {% include '_response_widget.html' %}
{% endblock response_actions %}

{% block sidebar %}

    {% block status %}
        {% set status = req.solid_status() %}
        {% include '_manage_requests_status.html' %}
    {% endblock status %}



    <div class="b_sidebar">
        <div class="row-fluid participantRow">

            <a data-placement="left" href="#" id="reroutePopover">
                <div class="popover-container">
                    <h4 class="participantRow-title">Point of Contact <span class="pull-right"><small><i
                            class="icon-arrow-right"></i></small><i class="icon-user"></i></span></h4>
                </div>
            </a>

            {% include '_reroute.html' %}

        </div>
        <div class="row-fluid participantRow-poc">
            {% include '_contact_popover.html' %}
        </div>

        <div class="row-fluid participantRow">
            <a data-placement="left" href="#" id="notifyPopover">
                <div class="popover-container participantRow-helpers">
                    <h4 class="participantRow-title">Helpers<span class="pull-right"><small><i class="icon-plus"></i>
                    </small><i class="icon-group"></i></span></h4>
                </div>
            </a>
            {% include '_add_person.html' %}

        </div>
        <div class="row-fluid participantRow-participants">
            {% include '_staff_participants.html' %}
        </div>
        <div class="row-fluid participantRow-history">
            {% include '_history.html' %}
        </div>

    </div>
{% endblock sidebar %}

{% block request_dates %}
    {{ super() }}
    <div class="text-center">Due: <span class="label">{{ req.due_date | date }}</span></div>
{% endblock request_dates %}

{% block follow %}{% endblock follow %}




{% block custom_script_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/case.js') }}"></script>

    <!-- used for the extension and close request multi-select boxes in city view -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>

    <!-- Listed in case instead of manage_request_city for truncation -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage_request_city.js') }}"></script>

    <!-- For response_widget partial -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/_response_widget.js') }}"></script>

    <!-- For file uploads -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-fileupload.js') }}"></script>
{% endblock custom_script_links %}
