{% extends "base.html" %}
{% block container %}
    <div id="missing-email" class="alert alert-block alert-error span8 offset1">
        <div class="span1 text-right"><i class="icon-exclamation icon-2x"> </i></div>
        <div class="offset1">
            <h4 class='alert-heading'>Oops, looks like the email address is missing.</h4>

            <p>Enter an email if you have one. We need it to let you know when your record is ready.</p>

            <div id='include_email'>
                <form class="form-inline" name="input" method="post" action="/new">
                    <input type="hidden" name="request_text" value="{{ form.request_text }}"/>
                    <input type="hidden" name="request_alias" value="{{ form.request_alias }}"/>
                    <input type="hidden" name="request_phone" value="{{ form.request_phone }}"/>
                    <input type="hidden" name="request_department" value="{{ form.request_department }}"/>
                    <input type="hidden" name="date_received" value="{{ form.date_received }}"/>
                    <input type="hidden" name="format_received" value="{{ form.format_received }}"/>
                    <input type="hidden" name="request_department" value="{{ form.request_department }}"/>
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input name="request_email" type="email" id="inputEmail" placeholder="yourname@email.com"/>
                    <input type="hidden" name="ignore_email"/>
                    <button id='submit' class='btn btn-primary' type='submit'>Submit my request</button>
                </form>
            </div>
        </div>
    </div>
{% endblock container %}

{% block custom_script_links %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/missing_email.css') }}">
{% endblock custom_script_links %}