{% extends "base.html" %}
{% block title %}OpenRecords - Report{% endblock %}
{% set active_page="report" %}
{% block container %}

<style>
	#tooltip {
		position: absolute;
		width: 95px;
		height: auto;
		padding: 10px;
		background-color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		pointer-events: none;
	}
#tooltip.hidden {
	display: none;
}
#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.indent{
	padding-left: 5px;
}
.heading{
	font-weight: bold;
}
value{
	color: red;
	font-style: italic;
}
rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
rect:hover{
	fill: orange;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}


</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3pie.min.js') }}"></script>

<div class="row-fluid">
    <div class="span10">
		{% block banner %}
			{{ super() }}
		{% endblock banner %}

		<!--div id="report_div"></div-->
		<div id="bar_chart"></div>
		<br>
		<button id="fullYear" type="submit" class="btn btn-primary">Year to Date</button>
        <button id="rolling" type="submit" class="btn btn-primary">Rolling 365</button>
        <button id="clear_filter" type="submit" class="btn btn-primary">Clear Filters</button>
		<h5>Agency Filter</h5>
		<select id="agency_filter" name="agency_filter">
			<option value="0">None Selected</option>
			{% for data in agency_data %}
                        	<option value="{{data.id}}">{{data.name}}</option>
			{% endfor %}
		</select>
        {%  if current_user.is_authenticated %}
		<h5>Staff Filter</h5>
		<select id="staff_filter" name="staff_filter">
			    <option value="0">None Selected</option>
				{% for user in users %}
                    {%  if user.is_staff %}
				        <option value="{{ user.id }}" department_id="{{ user.department_id }}">{{ user.alias}}</option>
                    {% endif %}
				{% endfor %}
		</select>
        {% endif %}

        <br />
		
		<script type="text/javascript">

			function draw_barchart(reportPath) {
				
				$("#bar_chart").empty();
				var w = 500, h = 100;
				var svg = d3.select("#bar_chart").append("svg").attr("width",w).attr("height",h);
				    var barPadding = 1;
				d3.json(reportPath, function(report_data) {
						var margin = {
						top: 25,
						right: 75,
						bottom: 85,
						left: 85
						},
						w = 600 - margin.left - margin.right,
						h = 350 - margin.top - margin.bottom;
						var padding = 10;
						
						var colors = {};
						colors["Received"] = "#278ECF";
						colors["Reports Published"] = "#4BD762";
						colors["Denied"] = "#FFCA1F";
						colors["Granted And Closed"] = "#FF9416";
                                                colors["Granted In Part"] = "#D42AE8";
                                                colors["No Customer Response"] = "#535AD7";
                                                colors["Out of Jurisdiction"] = "#FF402C";
					        colors["Referred to NYC.gov"] = "#83BFFF";
                                                colors["Referred to Open Data"] = "#6EDB8F";
                                                colors["Referred to Other Agency"] = "#FFE366";
                                                colors["Referred to Publications Portal"] = "#FFC266";
	
						var dataset = report_data.data;
						dataset = dataset.filter(function(d){ return d.label == "Received" || d.label == "Reports Published"; });
	
						var xScale = d3.scale.ordinal()
						.domain(d3.range(dataset.length))
						.rangeRoundBands([0, w], 0.05);
						// ternary operator to determine if global or local has a larger scale
						var yScale = d3.scale.linear()
						.domain([0, d3.max(dataset, function (d) {
										   return d.value;
										   })])
						.range([h, 0]);
						var xAxis = d3.svg.axis()
						.scale(xScale)
						.tickFormat(function (d) {
									return dataset[d].label;
									})
						.orient("bottom");
						var yAxis = d3.svg.axis()
						.scale(yScale)
						.orient("left")
						.ticks(5);

						var commaFormat = d3.format(',');
						
						//SVG element
						var svg = d3.select("#bar_chart")
						.append("svg")
						.attr("width", w + margin.left + margin.right)
						.attr("height", h + margin.top + margin.bottom)
						.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						// Graph Bars
						var sets = svg.selectAll(".set")
						.data(dataset)
						.enter()
						.append("g")
						.attr("class", "set")
						.attr("transform", function (d, i) {
							  return "translate(" + xScale(i) + ",0)";
							  });
						
						sets.append("rect")
						.attr("class", "OverDue")
						.attr("width", xScale.rangeBand() / 2)
						.attr("y", function (d) {
							  return yScale(d.value);
							  })
						.attr("x", xScale.rangeBand() / 2)
						.attr("height", function (d) {
							  return h - yScale(d.value);
							  })
						.attr("fill", function (d) {
							  return colors[d.label];
							  })
						;
						
						// xAxis
						svg.append("g") // Add the X Axis
						.attr("class", "x axis")
						.attr("transform", "translate(0," + (h) + ")")
						.call(xAxis)
						.selectAll("text")
						.style("text-anchor", "end")
						.attr("dx", "-.8em")
						.attr("dy", ".15em")
						.attr("transform", function (d) {
							  return "rotate(-25)";
							  });
						// yAxis
						svg.append("g")
						.attr("class", "y axis")
						.attr("transform", "translate(0 ,0)")
						.call(yAxis);
						// xAxis label
						svg.append("text")
						.attr("transform", "translate(" + (w / 2) + " ," + (h + margin.bottom - 5) + ")")
						.style("text-anchor", "middle")
						.text("Request Type");
						
						//yAxis label
						svg.append("text")
						.attr("transform", "rotate(-90)")
						.attr("y", 0 - margin.left)
						.attr("x", 0 - (h / 2))
						.attr("dy", "1em")
						.style("text-anchor", "middle")
						.text("# of Requests");
			
						sets.append("text")
						.text(function(d) {
							if(d.value != 0) {
								return d.value;
							}
						})
						.attr("text-anchor", "middle")
						.attr("y", function (d) {
							return yScale(d.value) + 14;
						})
						.attr("x", function(d,i) {
							return (xScale.rangeBand() / 2) + 50;
						})
						.attr("height", function (d) {
							return h - yScale(d.value);
						})
						.attr("fill", function (d) {
							return "black";
							//colors[d.label];
						});
                                                
	
	
						});
			}
		
			draw_barchart("/api/report/all/all/all/all");
            
			$("#fullYear").click(function() {
                selected_agency = $('#agency_filter').val();
                selected_staff = $('#staff_filter').val();
                                 
                if(typeof selected_staff === 'undefined') {
                        selected_staff = 'all'
                }
                draw_barchart("/api/report/fullYear/all/" + selected_agency + "/" + selected_staff);
			});
			
			$("#rolling").click(function() {
                                selected_agency = $('#agency_filter').val();
                                selected_staff = $('#staff_filter').val();
				//draw_barchart("/api/report/rolling/all/all/all");
                if(typeof selected_staff === 'undefined') {
                        selected_staff = 'all'
                }                                
                draw_barchart("/api/report/rolling/all/" + selected_agency + "/" + selected_staff);
			});
            
			$("#clear_filter").click(function() {
                $("#staff_filter").val(0);
                $("#agency_filter").val(0);
                draw_barchart("/api/report/all/all/all/all");
			});
            
			$("#agency_filter").change(function() {
                                       selected_agency = $('#agency_filter').val();
                                       selected_staff = $('#staff_filter').val();
                $("#staff_filter").val(0);
                $('#staff_filter option[department_id!=' + selected_agency + ']').hide();
                $('#staff_filter option[department_id=' + selected_agency + ']').show();
				draw_barchart("/api/report/all/all/" + selected_agency + "/all");
			});
			$("#staff_filter").change(function() {
                                      selected_agency = $('#agency_filter').val();
                                      selected_staff = $('#staff_filter').val();
				if(selected_agency == 0) {
				  draw_barchart("/api/report/all/all/all/" + selected_staff);
				}
				else {
				  draw_barchart("/api/report/all/all/" + selected_agency + "/" + selected_staff);
				}
			});


		</script>

	</div>
</div>
{% endblock container %}
