<!-- This template is for the landing page. -->

{% extends "base.html" %}
{% set active_page="track" %}
{% block title %}Track - OpenRecords{% endblock title %}

{% block custom_css_links %}
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/track.css') }}"> -->
{% endblock custom_css_links %}

{% block container %}
<div class="row-fluid">

    <div class="span8">
        <div class="row-fluid">
            <div class="span8">
                <h1>Track a request</h1>

                <p class="intro_text">Use the tracking tool to find a specific request. If you would prefer to
                    browse all existing requests or you don't remember your tracking number, you can <a
                            href="/view_requests">go to View Requests</a>. You can filter all requests there.</p>
                {% if error %}
                <div class="alert alert-danger bs-alert-old-docs">

                        {{error}}

                </div>
                {% endif %}
                <form name="input" class="form-horizontal" id="submitTrack" method="post" action="/track"
                      autocomplete="on">
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <fieldset>

                        <p class="lead">Enter your tracking number</p>

                        <div class="control-group">
                            <div>
                                <input class="" name="request_id" type="text" id="request_id"
                                       placeholder="FOIL-2015-123-56789"
                                       required/>
                            </div>
                        </div>


                        <div id="trackButton" class="control-group">
                            <div>
                                <button type="submit" class="btn btn-primary">Find my request</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>


</div>

{% endblock container %}

{% block custom_script_links %}
<script type="text/javascript" src="{{ url_for('static', filename='js/track.js') }}"></script>
{% endblock custom_script_links %}
