<!-- This template is for the landing page. -->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>


    <!-- <link rel=stylesheet type=text/css href="/static/css/track.css"> -->

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">
    <link rel=stylesheet type=text/css href="/static/css/plugins/BootSwatchr6.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/DT_bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/font-awesome.min.css">

    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/include.js"></script>
    <script type="text/javascript"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/static/js/plugins/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript" src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript' src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>

<body>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                                               alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="Your agency name logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">

                    <div class="login btn">
                      <p><a href="/login" >Login</a></p>
                    </div>
                    <div class="google_translate">
                        <div id="google_translate_element"></div>
                        <script type="text/javascript">
                        function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                        }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                        </script>
                    </div>
                    <ul class="nav tabs">
                        <li><a href="/new">Request a Record</a></li>
                        <li><a href="/view_requests">All Requests</a></li>
                        <li><a href="/track" id="track_a_request">Track an Existing Request</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    </ul>

            </div>
        </div>
    </div>
    <div id="container-fluid">

    <div class="row-fluid">

        <div class="span8">
            <div class="row-fluid">
                <div class="span8">
                    <h1>Track a request</h1>

                    <p class="intro_text">Use the tracking tool to find a specific request. If you would prefer to
                        browse all existing requests or you don't remember your tracking number, you can <a href="/view_requests">filter all requests here</a>.</p>

                    <form name="input" class="form-horizontal" id="submitTrack" method="post" action="/track"
                          autocomplete="on">
                        <fieldset>

                            <p class="lead">Enter your tracking number</p>

                            <div class="control-group">
                                <div>
                                    <input class="" name="request_id" type="text" id="request_id" placeholder="#FOIL-2015-860-00001"
                                           required/>
                                </div>
                            </div>


                            <div id="trackButton" class="control-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Find my request</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


    </div>


    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get" action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search" class="input-search placeholder" name="search-terms" type="text"/>
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of New York</p>

                        <p><a href="http://www1.nyc.gov/home/privacy-policy.page" title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.js"></script>


    <script type="text/javascript" src="/static/js/track.js"></script>

<!-- used for the tutorial -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/custom.bootstro.js') }}"></script>

<script>
$(document).ready(function(){
    bootstro.start('',{stopOnBackdropClick : false, stopOnEsc:false, items:
       [{selector:'#request_id',title:'Track a Request',content:'You can enter the request tracking number to track the request and check on current status. You enter the request number and click the Find my request button.',placement:'right',finishButton:'<a class="btn" href="/tutorial/12"> «Previous</a> <a class="btn" href="/tutorial/14">Next »</a><br><br><a class="btn" href="/">Back to OpenRecords site</a>'}
       ]
    });
});
</script>

</body>
</html>
