
<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request FOIL-2015-860-00001</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>


    <!-- used for the extension and close request multi-select boxes in city view -->
    <link rel=stylesheet type=text/css href="/static/css/manage_request_city_less_js.css">
    <link rel=stylesheet type=text/css href="/static/css/sidebar.css">
    <link rel=stylesheet type=text/css href="/static/css/bottom_sidebar.css">
    <link rel=stylesheet type=text/css href="/static/css/case.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-select.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-fileupload.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">
    <link rel=stylesheet type=text/css href="/static/css/plugins/BootSwatchr6.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/DT_bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/font-awesome.min.css">

    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/include.js"></script>
    <script type="text/javascript"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/static/js/plugins/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript" src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript' src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>

<body>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                                               alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="Your agency name logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">

                    <div class="google_translate btn">
                        <p><a href="/logout">Logout</a></p>
                    </div>
                    <ul class="nav tabs">
                        <li><a href="/new">Request a Record</a></li>
                        <li><a href="/view_requests">All Requests</a></li>
                        <li><a href="/track">Track an Existing Request</a></li>
                        <li><a href="/report">Report</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    </ul>

            </div>
        </div>
    </div>
    <div id="container-fluid">

<!-- main content -->
<div class="row-fluid">
    <div class="span12">



    </div>
</div>
<div class="row-fluid">
    <div class="span9">

        <div class="well">

            <div id="request-container">
                <!-- Request Details -->
                <div class="row-fluid">
                    <h3 class="control-widget">
                                    <span class="muted">
                                        <a href="http://127.0.0.1:5000/request/FOIL-2015-860-00001">FOIL-2015-860-00001</a>
                                    </span>
                    </h3>

    <!-- ask a question -->
    <form name="ask_question" id="question" class="form-inline" style="margin: 10px 0px 15px 0px;" method="post" action="/add_a_qa" autocomplete="on">
      <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
      <fieldset>

        <label>Ask a question <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this space to ask a question about this request. We&#39;ll post your question online to be viewed by the public. The requester will be notified via email."><small><i class="icon-info-sign"></i></small></span></label>
          <textarea id="questionTextarea"  name="question_text" class="input-xlarge" placeholder="Ask the requester a question" required/></textarea>
        <button id="askQuestion" class="btn btn-primary" data-toggle="modal" data-target="#confirm-submit" type="submit">Ask</button>

      </fieldset>
    </form>

	<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					Confirmation
				</div>
				<div class="modal-body">
					<div id="modalquestionDiv">Are you sure you want to make the following question public and send an email to the requester?</div>
					<table id="modalQuestionTable" class="table">
						<tr>
							<th>Question</th>
							<td id="question_text"></td>
                                                        <input type="hidden" id="form_id" value=""/>
						</tr>
					</table>
                                        <table id="modalAdditionalInfoTable" class="table">
                                                <tr>
                                                        <th>Additional Information</th>
                                                        <td><textarea id="additional_note"  name="additional_note" class="input-xlarge" placeholder="Additional Information" /></textarea></td>
                                                </tr>
                                        </table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<a href="#" id="submit" class="btn btn-success success">Submit</a>
				</div>
			</div>
		</div>
	</div>

                    <p class="lead" style="margin-bottom: 0rem;"
                       truncateable="250"> Title </p>

                    <p truncateable="250"> Public Advocate Emails from 2015</p>


                    <p class="lead" truncateable="250"
                       style="margin-bottom: 0rem;"> Request: </p>

                    <p truncateable="250"> Emails that mention bike lanes or bicycle lanes from the Public Advocate's Office between July 27, 2015 and September 10, 2015</p>

                </div>
                <div>
                    <!-- shows any existing Q&A or public notes -->




                </div>
            </div>

        </div>




  <div id="contact_info_section">

      <br>
      <span>
        Requester's Name: <span class="label">John Doe</span></span>
      </span>
      <br>
      <span>
        Requester's Phone Number: <span class="label">None</span>
      </span>
      <br>
      <span>
        Requester's Street Address: <span class="label">Not provided</span>
      </span>
      <br>
      <span>
        Requester's City: <span class="label">Not provided</span>
      </span>
      <br>
      <span>
        Requester's State: <span class="label">NY</span>
      </span>
      <br>
      <span>
        Requester's Zipcode: <span class="label">Not provided</span>
      </span>
    </small>
  </div>








        <div id="responses-container" class="row-fluid">



            <h3 class="control-widget">Response</h3>

            <p><em>No responses have been uploaded yet</em></p>




  <h3 style="margin-top:40px;">Response actions</h3>
  <!-- upload a record -->
  <form name="input_doc" style="margin-top: 2em;" class="form-horizontal" id="submitRecord" method="post" action="/add_a_record" autocomplete="on" enctype="multipart/form-data">
    <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
    <fieldset>
      <legend>Add a record</legend>
      <div class="row-fluid">
        <!-- name of record -->
        <div class="control-group">
          <label class="control-label" for="recordSummary">Name of record</label>
          <div class="controls">
            <textarea class="input-xxlarge" name="record_description" type="text" id="recordSummary" placeholder="Add a short explanation of the record" required /></textarea>
          </div>
        </div>
        <!-- upload a record -->
        <div class="control-group">
          <label class="control-label">Upload a record <span id="recordTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Upload a record stored on your computer. The record will be uploaded to the web and the public will be able to read and download it here. We’ll notify the requester via email of the document." ><small><i class="icon-info-sign"></i></small></span></label>
          <div class="row-fluid">
            <div class="controls">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                  <span class="fileinput-new">Select file</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="record">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
              </div>
            </div>
          </div>
        </div>
        <!-- link to a record -->
        <div class="control-group">
          <label class="control-label">Or provide a link to a record <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Provide the web address of where a requester can find the information or documents. The link will be posted online for the public to view. We&#39;ll notify the requester via email."><small><i class="icon-info-sign"></i></small></span></label>
          <div class="row-fluid">
            <div class="controls">
              <input type="text" name="link_url" id="inputUrl" class="input-xxlarge"/>
              <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
            </div>
          </div>
        </div>
        <!-- offline record -->
        <div class="control-group button-margin">
          <label class="control-label">Or indicate how the record can be accessed offline <span id="offlinedocTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Name the record you are about to upload. We’ll post your title online and it can be viewed by the public. "><small><i class="icon-info-sign"></i></small></span></label>
          <div class="row-fluid">
            <div class="controls">
              <textarea class="input-xxlarge" id="offlineDoc_textarea" name="record_access" placeholder="How can the requester get this record?  Ex. 'Sent via mail on a CD', 'Print out awaiting requester at City Clerk desk'" ></textarea>
            </div>
          </div>
        </div>
        <!-- submission -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirm-submit" id="addRecordButton">Add record</button>
          </div>
        </div>

      </div>
    </fieldset>
  </form>

  <!-- Add a note form -->
  <form name="note" class="form-horizontal" id="note" method="post" action="/add_a_note">
    <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
    <fieldset>
      <legend>Add a note</legend>
      <div class="row-fluid">
        <div class="control-group">
          <label class="control-label">Note <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this space to track private notes. Your note will only be visible to staff. "><small><i class="icon-info-sign"></i></small></span></label>
          <div class="controls">
            <textarea type="text" class="input-xxlarge" id="noteTextarea" name="note_text"  placeholder="Notes visible to staff only."required/></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirm-submit" id="addNoteButton">Add note</button>
          </div>
		<input type="hidden" name="note_privacy" value="2"/>
        </div>
      </div>
    </fieldset>
  </form>
  </form>

  <!-- Generate PDF -->
  <form name="note" class="form-horizontal" id="note_pdf" method="post" action="/add_a_pdf">
    <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
    <fieldset>
      <legend>Standard Responses (PDF)</legend>
      <div class="row-fluid">
        <div class="control-group">
          <label class="control-label">Template <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Generate PDF"><small><i class="icon-info-sign"></i></small></span></label>
          <div class="controls">
            <select id="response_template" name="response_template" required data-selected-text-format="count" size="9">
              <option value="template_02">Message Sent</option>
              <option value="template_03">Request Status</option>
              <option value="template_04">Request Completed</option>
              <option value="template_05">Request Status - Fulfilled in Part</option>
              <option value="template_06">Request Denied</option>
              <option value="template_07">Request Closed</option>
              <option value="template_08">Request Payment Information</option>
              <option value="template_09">Request Closed - No Response</option>
              <option value="template_10">Time Extension Requested</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Generate PDF</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

<!-- REMOVE THE FOLLOWING SECTION IF YOU DO NOT USE EXTENSIONS IN YOUR AGENCY. -->
  <!-- Extension.-->

  <form name="extend_request" class="form-horizontal" id="extension" method="post" action="/add_a_extension">
    <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
	<input type="hidden" name="extend_reason" value="Additional time is required to answer your public records request. We need to search for, collect, or examine a large number of records."/>
    <fieldset>
      <legend>Extend request</legend>
      <div class="row-fluid">
        <div class="control-group">
          <label class="control-label">Length <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this feature to indicate you need more time to respond to this request. Your message will be posted online for the public to view. We&#39;ll notify the requester via email."><small><i class="icon-info-sign"></i></small></span></label>
          <div class="controls">
            <select id="days_after" name="days_after">
              <option value="0">None selected</option>
              <option value="15">15 days</option>
              <option value="30">30 days</option>
              <option value="60">60 days</option>
              <option value="90">90 days</option>
              <option value="-1">Custom Due Date</option>
            </select>
          </div>
        </div>
        <div class="control-group" style="display:none;" id="custom_due_date">
          <label class="control-label">Custom Due Date<span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this feature to indicate you need more time to respond to this request. Your message will be posted online for the public to view. We&#39;ll notify the requester via email."><small><i class="icon-info-sign"></i></small></span></label>
            <div class="controls">
              <input type="date" id="due_date"
                         name="due_date"
                         value=""
                          >
            </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button id="extendButton" data-toggle="modal" data-target="#confirm-submit" type="submit" class="btn btn-primary">Extend this request</button>

          </div>
        </div>
      </div>
    </fieldset>
  </form>

<!-- REMOVE THE ABOVE SECTION IF YOU DO NOT USE EXTENSIONS IN YOUR AGENCY. -->

  <!-- Close request -->
  <form name="close" class="form-horizontal" id="closeRequest" method="post" action="/close">
    <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
    <fieldset>
      <legend>Close request</legend>
      <div class="row-fluid">
        <div class="control-group">
          <label class="control-label">Reason <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Use this feature to close out this request. Your message will be posted online for the public to view. We&#39;ll notify the requester via email."><small><i class="icon-info-sign"></i></small></span></label>
          <div class="controls">
            <select id="close_reasons" name="close_reasons" multiple="multiple" size="5">
              <option value="We released all of the requested documents.">Fulfilled</option>
              <option value="We cannot upload your document online. The records contains sensitive information only you can view.">Fulfilled - Private Documents Not Uploaded</option>
              <option value="We released all of the requested documents. Personal information, such as home addresses, telephone numbers, and credit card numbers, were removed from the documents to protect the privacy or identity of another individual.">Fulfilled - Information Redacted</option>
              <option value="We released all of the requested documents. We removed information identifying private citizens who made complaints to government.">Fulfilled - Identity of Citizens Making Complaints Removed</option>
              <option value="This is not a public records request.">Not a public records request</option>
              <option value="The record you asked for does not exist.">Do not have this record</option>
              <option value="We cannot upload the documents you requested. We are prohibited from releasing an individual’s employment, medical, or similar files to protect their privacy.">Can Not Release - Personal Records</option>
              <option value="We cannot upload the documents you requested. We are prohibited from releasing records related to an on-going litigation.">Can Not Release - Ongoing Litigation</option>
              <option value="We cannot upload the documents you requested. We are prohibited from releasing investigative records for crimes committed or police incident reports, rap sheets, and arrest records.">Can Not Release - Investigative Records</option>
              <option value="We cannot upload the documents you requested. We are prohibited from releasing communications between an attorney and his or her clients">Can Not Release - Attorney-Client Privilege</option>
              <option value="We closed this request after we were unable to contact the requester to determine what they needed.">Unable to contact the requester</option>
              <option value="We don&#39;t have the records you requested. We suggest you submit a public records request to the County or the State.">Contact Another Government Agency</option>
              <option value="The person who submitted this request determined they no longer need the record.">Requester Not Interested</option>
             <option value="Initial request was initially directed to wrong agenyc and has been redirected.">Initial request redirected</option>
              <option value="Please visit the following link to find this information: http://www.nyc.gov">Please visit NYC.gov</option>
              <option value="Please visit the NYC Open Data Portal to find this information: https://nycopendata.socrata.com/">Please visit nycopendata</option>
              <option value="Please visit the NYC Government Publications Portal to find this informaton: http://a860-gpp.nyc.gov/">Please visit NYC Government Publications Portal</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button id="closeButton" data-toggle="modal" data-target="#confirm-submit" type="submit" class="btn btn-inverse">Close this request</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

        </div>

    </div>

    <div id="participant-container" class="span3">




    <div class="request-status-well well well-small r_sidebar_banner due soon">
    <h3 id="status-text">

        due soon
    </h3>
</div>

<!-- Acknowledge a request -->




<link rel=stylesheet type=text/css href="/static/css/case.css">






  <div class="b_sidebar">
    <div class="row-fluid participantRow">

        <div><h4 class="participantRow-title" style="color: #333333;">Point of Contact </h4>
        </div>

    </div>
    <div class="row-fluid participantRow-poc">
        <!-- routing name -->



    <a href="/staff_card/4" data-placement="top" data-toggle="popover" href="#"
       id="contactinfoPopoverRoute">Kenneth Cobb</a>

    </div>

    <form id="rerouteForm" class="form-inline" method ="post" action="/update_a_owner">
      <fieldset>
        <!-- <label>Change point of contact</label> -->
          <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
          <!--input id="rerouteEmail" class="input-block-level" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required /-->
          </select>
          <select class="span10" id="rerouteEmail" name="owner_email">

              <option value="tsinha@cchr.nyc.gov">Commission on Human Rights</option>

              <option value="jbaranello3@schools.nyc.gov">Department of Education</option>

              <option value="jbaek@doitt.nyc.gov">Department of Information Technology and Telecommunications</option>

              <option value="kcobb@records.nyc.gov">Department of Records and Information Services</option>

              <option value="slouis@law.nyc.gov">Law Department</option>

              <option value="kvera@cityhall.nyc.gov">Mayor&#39;s Office of Operations</option>

              <option value="jmerritt@cto.nyc.gov">Mayor&#39;s Office of Technology and Innovation</option>

              <option value="fng@oath.nyc.gov">Office of Administrative Trials and Hearings</option>

              <option value="rwilson@oem.nyc.gov">NYC Emergency Management</option>

              <option value="mpaulino@ocme.nyc.gov">Office of the Chief Medical Examiner</option>

              <option value="kgopal@cityhall.nyc.gov">Office of the Mayor</option>

          </select>
          <input id="rerouteReason" class="input-block-level" type="text" name="owner_reason" placeholder="Say why." required />
          <button id="rerouteButton" class="btn input-block-level" type="submit"> <i class="icon-envelope"> </i> Change point of contact</button>
      </fieldset>
    </form>

   <div><h4 class="participantRow-title" style="color: #333333;">Assignee</h4></div>

    <form id="rerouteForm" class="form-inline" method ="post" action="/update_a_owner">
      <fieldset>
        <!-- <label>Change Assignee</label> -->
          <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
          <!--input id="rerouteEmail" class="input-block-level" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required /-->
          <select class="span10" id="rerouteEmail" name="owner_email">

              jcastillo@records.nyc.gov
              <option value="jcastillo@records.nyc.gov">Joel Castillo</option>

              mbatey@records.nyc.gov
              <option value="mbatey@records.nyc.gov">Martin Batey</option>

              ptoole@records.nyc.gov
              <option value="ptoole@records.nyc.gov">Pauline Toole</option>

              kcobb@records.nyc.gov
              <option value="kcobb@records.nyc.gov">Kenneth Cobb</option>

              lcjones@records.nyc.gov
              <option value="lcjones@records.nyc.gov">LaTonya Jones</option>

              hestevez@records.nyc.gov
              <option value="hestevez@records.nyc.gov">Haronil Estevez</option>

              patrick@reboot.org
              <option value="patrick@reboot.org">Patrick Ainslie</option>

              adam.parker@reboot.org
              <option value="adam.parker@reboot.org">Adam Parker</option>

              zack@reboot.org
              <option value="zack@reboot.org">Zack Brisson</option>

          </select>
          <input id="rerouteReason" class="input-block-level" type="text" name="owner_reason" placeholder="Say why." required />
          <button id="rerouteButtonAssignee" class="btn input-block-level" type="submit"> <i class="icon-envelope"> </i> Change Assignee</button>
      </fieldset>
    </form>

    <div class="row-fluid participantRow">
      <div class="participantRow-helpers"><h4 class="participantRow-title">Helpers</h4></div>
    </div>
    <div class="row-fluid participantRow-participants">






    </div>

    <form id="notifyForm" class="form-inline" method ="post" action="/add_a_owner">
      <fieldset>
        <input type="hidden" name="request_id" value="FOIL-2015-860-00001"/>
        <input id="notifyEmail" class="input-block-level" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required />
        <input id="notifyReason" class="input-block-level" type="text" name="owner_reason" placeholder="Say why." required />
        <button id="notifyButton" class="btn input-block-level" type="submit"> <i class="icon-envelope"> </i> Add a helper</button>
    </form>

    <div class="row-fluid participantRow-history">
      <!-- history -->
<div>
    <a data-placement="left" data-toggle="popover" href="#" class="historyPopover hidden-phone hidden-tablet"><i
            class="icon-time"></i> History</a>
</div>
<div id="historyPopover-head" class="hide">Routing History</div>
<div id="historyPopover-content" class="hide">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Date</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <!-- the order of data returned here should be reverse chronological (right now it's shown as oldest first)-->


            <tr>
                <td>Kenneth Cobb</td>
                <td><i class="icon-plus-sign"></i></td>
                <td>Oct 27, 2015</td>
                <td>PRR Liaison for Department of Records and Information Services</td>
            </tr>


        </tbody>
    </table>
</div>
    </div>






  </div>




  <div id="dates_displayed">
        <div class="muted">Received: Oct 27, 2015
        </div>

  <div class="text-center">Due: <span class="label">Nov 06, 2015</span></div>
  </div>


    </div>

</div>


<link rel=stylesheet type=text/css
      href="/static/css/social_media.css">



    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get" action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search" class="input-search placeholder" name="search-terms" type="text"/>
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of New York</p>

                        <p><a href="http://www1.nyc.gov/home/privacy-policy.page" title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.js"></script>


  <script type="text/javascript" src="/static/js/case.js"></script>

  <!-- used for the extension and close request multi-select boxes in city view -->
  <script type="text/javascript" src="/static/js/plugins/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/static/js/custom.bootstrap-select.js"></script>



  <!-- For file uploads -->
  <script type="text/javascript" src="/static/js/plugins/bootstrap-fileupload.js"></script>

<!-- used for the tutorial -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/custom.bootstro.js') }}"></script>

<script>
$(document).ready(function(){
    bootstro.start('',{stopOnBackdropClick : false, stopOnEsc:false, items:
       [{selector:'#dates_displayed',title:'Track a Request',content:'The date the request was received and the due date to respond are displayed.',placement:'left',finishButton:'<a class="btn" href="/city/tutorial/10"> «Previous</a> <a class="btn" href="/city/tutorial/13">Next »</a><br><br><a class="btn" href="/">Back to OpenRecords site</a>'}
       ]
    });
});
</script>

</body>
</html>
