<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>

    
<link rel=stylesheet type=text/css
      href="/static/css/manage_request_city.css">
<link rel=stylesheet type=text/css
      href="/static/css/_response_widget.css">
<link rel=stylesheet type=text/css
      href="/static/css/sidebar.css">
<link rel=stylesheet type=text/css
      href="/static/css/bottom_sidebar.css">
<link rel=stylesheet type=text/css
      href="/static/css/case.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">
    <link rel=stylesheet type=text/css href="/static/css/plugins/BootSwatchr6.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/DT_bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/font-awesome.min.css">
		
    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/include.js"></script>
    <script type="text/javascript"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/static/js/plugins/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript" src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript' src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>

<body>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                                               alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="Your agency name logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
                
                    <div class="login btn">
                      <p><a href="/login" >Login</a></p>
                    </div>
                    <div class="google_translate">
                        <div id="google_translate_element"></div>
                        <script type="text/javascript">
                        function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                        }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                        </script>
                    </div>
                    <ul class="nav tabs">
                        <li><a href="/new">Request a Record</a></li>
                        <li><a href="/view_requests">All Requests</a></li>
                        <li><a href="/track">Track an Existing Request</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    </ul>
                
            </div>
        </div>
    </div>
    <div id="container-fluid">
        
<!-- main content -->
<div class="row-fluid">
    <div class="span12">
        

                    
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        
        <div class="well">
            
            <div id="request-container">
                <!-- Request Details -->
                <div class="row-fluid">
                    <h3 class="control-widget">
                                    <span class="muted">
                                        <a href="http://127.0.0.1:5000/request/FOIL-2015-860-00002">FOIL-2015-860-00002</a>
                                    </span>
                    </h3>
                    
                    <p class="lead" style="margin-bottom: 0rem;"
                       truncateable="250"> Title </p>

                    <p truncateable="250"> Public Advocate Emails from 2015</p>
                    
                </div>
                <div>
                    <!-- shows any existing Q&A or public notes -->
                    

                    
                    
                </div>
            </div>
            
        </div>
        


        

        
            
    
        
        
            
        
        
            <form name="follow" id="follow" method="post" action="/public_add_a_subscriber">
                <input type="hidden" name="request_id" value="FOIL-2015-860-00002"/>
                <fieldset>
                    <div class="row-fluid follow">
                        <div class="span10">
                            <p>Subscribe to receive updates about this request</p>
                            <div class="input-append">
                                <input id="followRequest" name="follow_email"
                                       class="span6"
                                       placeholder="yourname@email.com" type="email">
                                <button id="followRequest-button" class="btn"
                                        type="submit">Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        
    

        
        
        <div id="responses-container" class="row-fluid">
            
            
            
            

            
        </div>
        
    </div>

    <div id="participant-container" class="span3">
        

        
    
    <div class="request-status-well well well-small r_sidebar_banner open">
    <h3 id="status-text">
        
        open
    </h3>
</div>

<!-- Acknowledge a request -->




<link rel=stylesheet type=text/css href="/static/css/case.css">



        
            <h4 class="case_participantRow">Point of Contact</h4>
            <!-- routing name -->


    
    <a href="/staff_card/4" data-placement="top" data-toggle="popover" href="#"
       id="contactinfoPopoverRoute">Kenneth Cobb</a>

        
        

        
        <div class="muted">Received: Oct 26, 2015
        </div>
        


    </div>

</div>


<link rel=stylesheet type=text/css
      href="/static/css/social_media.css">



    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get" action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search" class="input-search placeholder" name="search-terms" type="text"/>
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of New York</p>

                        <p><a href="http://www1.nyc.gov/home/privacy-policy.page" title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.js"></script>


<!-- Listed in case instead of manage_request_city for truncation!!! -->
<script type="text/javascript"
        src="/static/js/manage_request_city.js"></script>
<script type="text/javascript"
        src="/static/js/case.js"></script>

<!-- For response_widget partial -->
<script type="text/javascript"
        src="/static/js/_response_widget.js"></script>

<script type="text/javascript"
        src="/static/js/plugins/jquery.ellipsis.js"></script>

<!-- used for the tutorial -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/custom.bootstro.js') }}"></script>

<script>
$(document).ready(function(){
    bootstro.start('',{stopOnBackdropClick : false, stopOnEsc:false, items:
       [{selector:'#request-container',title:'All Requests',content:'The details of that request are displayed.',placement:'top',finishButton:'<a class="btn" href="/tutorial/16b"> «Previous</a><br><br><a class="btn" href="/">Back to OpenRecords site</a>'}
       ]
    });
});
</script>
</body>
</html>